*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*logo+ttolo*/
header{
    height: 80px;
    padding-left: 40px;   
    padding-top: 5px;
    background-size: 30%;
    background-image: url(../img/logo\ copia.png);
    background-size: 40px;
    background-repeat: no-repeat;
    