*{ /* reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    width: 55%;
    margin: 0 auto;
}
/*logo+ttolo*/
header{
    width: 200px;
    height: 80px;
    padding-left: 40px;   
    padding-top: 5px;
    background-size: 30%;
    background-size: 40px;
    background-repeat: no-repeat;
}

header img{
    width: 55px;
}
span{
    font-size: 26px; 
    

}

ol{
    margin-left: 20px;

}
